CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea
.vscode
lib
bin
*.cbp
*.ninja*

.DS_Store

flute-config.h

build
